:root{
    --color-white:#fff;
    --color-white-fade:#f4f5f7;
    --color-pink:#e6007e;
    --color-purple:#4c56a7;
    --color-dark:#202020;
    --color-dark-fade:#726f6f;
}




/*
general 
---------------------------------------
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
    font-family: 'Darker Grotesque', sans-serif;
    color: var(--color-dark);
}

a:hover{
    text-decoration: none;
}

ul li{
    list-style: none;
}

.content-container{
    max-width: 105rem;
    margin: 0 auto;
}

.basic-link{
    font-size: 1.2rem;
    color: var(--color-purple);
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*
footer 
---------------------------------------
*/

.footer{
    background-color: var(--color-dark);
    min-height: 2rem;
    padding: 3rem 0px 0px;
}

.footer-block_title {
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    color: var(--color-white);
    margin-bottom: 2rem;
    text-transform: capitalize;
    font-weight: bold;
}

.newsletter-form input{
    width: 100%;
    font-size: 1.6rem;
    padding: .5rem 1rem;
    border-radius: 4px;
    border: none;
    height: 4rem;
    padding-right: 9.5rem;
}

.newsletter-form button{
    position: absolute;
    right: 0;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-white);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: var(--color-pink);
    border: none;
    height: 4rem;
    padding-left:  1rem;
    padding-right: 1rem;
    cursor: pointer;
}

.footer-link_list li{
    display: block;
    margin-bottom: 0.5rem;
}

.footer-link_list li p,
.footer-link_list li a {
    font-size: 1.8rem;
    color: #a9a9a9;
    line-height: 2rem;
    transition: all .2s;
}

.footer-link_list li a:hover{
    color: var(--color-pink);
}

.footer-socialLink_list li{
    display: inline-block;
}

.footer-socialLink_list li a div {
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--color-dark-fade);
    transition: all 0.2s ease 0s;
}

.footer-socialLink_list li a:hover div{
    background-color: var(--color-pink);
    border: 1px solid var(--color-pink);
}

.footer-socialLink_list li:not(:last-child) {
    margin-right: 0.3rem;
}

.footer-socialLink_list li a div img {
    max-height: 1.6rem;
}

.footer .copyright {
    margin-top: 3rem;
    font-size: 1.7rem;
    color: #726f6f;
    border-top: 1px solid rgb(51, 51, 51);
    padding: 1.7rem 0px;
}

.footer .dev-copyright {
    font-size: 1.7rem;
    color: #726f6f;
    border-top: 1px solid rgb(51, 51, 51);
    padding: 2rem 0px;
}

.dev-copyright img {
    max-height: 5rem;
    float: right;
    margin-top: -1rem;
    filter: grayscale(1);
}


/*
navigation bar 
---------------------------------------
*/

.navigation-bar {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1000;
    background-color: var(--color-white);
    padding: 0.7rem 0px;
    transition: all 500ms ease 0s;
    min-height: 9rem;
    box-shadow: rgba(0, 0, 0, 0.055) 0px 1px 14px 1px;

}


.navigation-bar__block button{
    font-size: 1.8rem;
    background-color: var(--color-pink);
    color: var(--color-white);
    padding: .4rem 1.2rem;
    border: 1px solid var(--color-pink);
    border-radius:1px;
    cursor: pointer;
}

.logo-link {
    float: right;
}

.logo-link img {
    max-height: 6rem;
    margin-top: 1rem;
}




.navigation-menu{
    margin-bottom: 0;
    position: absolute;
    bottom: 1rem;
}

.navigation-menu li{
    display: inline-block;
}

.navigation-menu li:not(:last-child){
    margin-right: 1rem;
}

.navigation-menu li .navigation-item,
.navigation-menu li span{
    font-size: 1.4rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #55585a; 
    text-transform: uppercase;  
}

.navigation-menu li a.scroll,
.navigation-menu li span.scroll{
    color: #55585a;
}


.navigation-menu li a .navigation-linkBox{
    height: 4rem;
    display: flex;
    align-items: center;
}

.navigation-menu li a:hover,
.navigation-menu li .dropdown:hover span{
    color: var(--color-pink);
}

/*----------------*/
    .dropbtn{
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        height: 3rem;
    }

    .dropdown button{
        position: absolute;
        right: 0;
        background-color: transparent;
        border: none;
        transition: all .2s;
        display: none;
    }

    .rotatebtn{
        transform: rotate(90deg);
    }

    .dropdown button img{
        max-width: .7rem;
    }



    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 16rem;
        z-index: 1;
        top: 2rem;
        padding-top: 1.7rem;
    }

    .dropdown-content a {
        color: black;
        padding: .6rem 1rem;
        text-decoration: none;
        display: block;
        font-size: 1.7rem;
    }

    .dropdown-content a:hover {
        background-color: #f4f5f7; 
        color: var(--color-pink);
    }

    .dropdown:hover .dropdown-content {display: block;}

/*----------------*/




/*
header 
---------------------------------------
*/

.header{
    height: 55rem;
    background-color: var(--color-dark);
}


.carousel-item{
    height: 55rem;
}

.overlay-carousel{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000086;
    z-index: 999;
}

.carousel-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: #00000086;
}

.carousel-caption_content{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%,-50%);
    text-align: left;
}

.carousel-caption_content h1{
    font-size: 4rem;
    font-weight: bold;
    max-width: 40rem;
    line-height: 4rem;
    margin-bottom: 2rem;
}

.carousel-caption_content p{
    font-size: 2rem;
    text-align: left;
    max-width: 40rem;
}

.carousel-caption_content a button{
    color: var(--color-white);
    font-size: 1.6rem;
    padding: .4rem .7rem;
    background-color: var(--color-pink);
    border: 1px solid var(--color-pink);
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
    cursor: pointer;
}

.carousel-item img{
    height: 55rem;
    object-fit: cover;
}


/* 
card 
---------------------------------------
*/

.img-icon{
    max-width: 6rem;
}

.my-box {
    height: 13rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-box h5{
    color: var(--color-dark);
    font-size: 2rem;
}

.basic-card{
    min-height: 13rem;
    box-shadow: rgba(0, 0, 0, 0.11) 0rem 1px 2rem 7px;
    background-color: var(--color-white);
    transition: all .2s;
    border-radius: 2px;
}

.card-item-link:hover .basic-card{
    transform: translateY(-.5rem);
    color: var(--color-pink);
}

.card-item-link:hover .basic-card h5{
    color: var(--color-pink);
}

.illustration-box{
    height: 20rem;
    border-radius: 2px;
    background-color: var(--color-dark);
}

.illustration-box img{
    height: 20rem;
    border-radius: 2px;
    object-fit: cover;
    width: 100%;
}

.content-box h3{
    color: var(--color-pink);
    font-size: 3rem;
    font-weight: bold;
}

.content-box p{
    font-size: 1.3rem;
    color: var(--color-dark);
    font-family: 'Roboto', sans-serif;
}

.content-box a button{
    border: 1px solid var(--color-purple);
    color: var(--color-purple);
    background-color: transparent;
    font-size: 1.5rem;
    padding: .4rem .8rem;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: all .2s;
}

.content-box a:hover button{
    background-color: var(--color-purple);
    color: var(--color-white);
}


/* 
pages 
---------------------------------------
*/

.section-cards{
    margin-top: -3rem;
}

.section-about__content h2{
    color: var(--color-pink);
    font-weight: bold;
    font-size: 4rem;
}

.section-about__content hr{
    width: 7rem;
    margin-top: 1.5rem;
    border-radius: 25px;
    border: 1px solid var(--color-pink);
}

.section-about__content p{
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: var(--color-dark);
    font-family: 'Roboto', sans-serif;
}

.section-about__illutration{
    position: relative;
    height: 30rem;
    border: 5px solid var(--color-pink);
}

.section-about__illustration-box{
    position: absolute;
    height: 30rem;
    width: 100%;
    top: -2rem;
    right: -2rem;
    background-color: var(--color-dark);
}

.section-about__illustration-box img{
    height: 30rem;
    object-fit: cover;
    width: 100%;
}

.section-description{
    background-color: #f4f5f7;
    min-height: 50rem;
}

.section-description__content{
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
}



.section-description__content h1 {
    font-size: 4rem;
    color: var(--color-pink);
    font-weight: bold;
    text-align: center;
}

.section-description__content hr {
    width: 7rem;
    margin: 2rem auto;
    border-radius: 25px;
    border: 2px solid var(--color-pink);
}

.section-description__content p {
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-align: center;
}

.section-description__illutration{
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(165, 3, 92, 0.43), rgba(165, 3, 92, 0.43)), url(../img/test1.jpg) center no-repeat;
    background-size: cover;
}

.section-description__illutration img{
    max-height: 9rem;
    cursor: pointer;
    opacity: .7;
    transition: all .2s;
}

.section-description__illutration img:hover{
    transform: scale(1.2);
    opacity: 1;
}



.section-description__list li{
    margin: 1rem;
    display: inline-block;
    text-align: center;
}

.circle-illustration{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    margin: 0 auto;
}

.circle-illustration ~ p{
    color: var(--color-pink);
}

.contact-box {
    margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
    border-top: 1px solid rgb(238, 238, 238);
}

.title-section {
    font-size: 3rem;
    color: var(--color-pink);
}

.section-heading hr {
    width: 7rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    border: 2px solid var(--color-pink);
    border-radius: 25px;
}

.contact-box h3 {
    font-weight: bold;
    margin-bottom: 0.7rem;
    font-size: 2.7rem;
    color: var(--color-purple);
}

.contact-box button {
    font-size: 2rem;
    color: #4c56a7;
    background-color: #fff;
    border: 1px solid var(--color-purple);
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 3px;
    padding: 0.2rem 1.2rem;
    transition: all 0.2s ease 0s;
}



/* 
utilitaires 
---------------------------------------
*/
.u-marginTop-standard{margin-top: 10rem;}
